<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jian.shadow.mapper.SysResourceMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jian.shadow.entity.SysResource">
        <id column="id" property="id" />
        <result column="resourceName" property="resourceName" />
        <result column="resourceUrl" property="resourceUrl" />
        <result column="resourceOperation" property="resourceOperation" />
        <result column="resourceType" property="resourceType" />
        <result column="createDate" property="createDate" />
        <result column="orderBy" property="orderBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, resourceName, resourceUrl, resourceOperation, resourceType, createDate, orderBy
    </sql>

</mapper>
